<footer class="footer" id="footer">
    <div class="container pre_footer">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="footer_logo">
                    <a href="#">
                        <img src="img/footer_logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <ul class="nav footer_list">
                    <li><a href="#">Report Hub</a></li>
                    <li><a href="#">Professional Services</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
                <div class="row align-items-center">
                    <div class="copyright">© 2025 Grandia Solutions. All rights reserved</div>
                    <a href="#" class="privacy">Terms of Use & Privacy Policy</a>
                </div>
            </div>
            <div class="col-lg-2">
                <ul class="nav social_list">
                    <li><a href="#"><i class="fab fa-atlassian"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="js/scripts.js"></script>
</body>

</html>