<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jira Reports</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-4 d-flex align-items-center">
                    <div class="logo">
                        <a href="#">
                            <img src="./img/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="partner_logo">
                        <img src="./img/partnerlogo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 menu_box ">
                    <ul class="nav main_menu">
                        <li><a href="#">Report Hub</a></li>
                        <li><a href="#">Professional Services</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-8 d-flex align-items-center justify-content-center">
                    <a href="#" data-toggle="modal" data-target="#exampleModal" class="main_btn">Contact us</a>
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    