.main_btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: white;
  background-color: #464646;
  border-radius: 10px;
  transition:all 0.3s ease;
  &:hover {
    background-color: #6E6E6E;
    color: #C4C4C4;
    text-decoration: none;
  }
}
.sec_btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: white;
  background-color: #7F34AD;
  border-radius: 10px;
  transition:all 0.3s ease;
  &:hover {
    background-color: rgba(148, 59, 204, 0.26);
    color: white;
    text-decoration: none;
  }
}
.bordered_btn {
  height: 50px;
  display: flex;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  transition:all 0.3s ease;
  &:hover {
    background-color: #5D0097;
    color: white;
    text-decoration: none;
  }
}